@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

body {
  @apply bg-background-100 text-fontcolor-100;
}

.parallax {
  z-index: -1;
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
  gap: 1.5rem;
  align-items: center;
}

h1,
.title {
  @apply lg:text-8xl md:text-7xl text-3xl font-bold text-fontcolor-50 flex gap-2;
}

.text1 {
  @apply font-medium text-2xl text-fontcolor-100;
}

.text2 {
  @apply font-semibold text-2xl text-fontcolor-100;
}

.text3 {
  @apply font-semibold text-4xl text-fontcolor-50;
}

.text4 {
  @apply font-semibold text-4xl text-fontcolor-100;
}

.text5 {
  @apply lg:text-[5rem] md:text-4xl text-2xl font-bold;
}

.text6 {
  @apply font-normal lg:text-3xl md:text-xl text-base;
}

label {
  @apply font-semibold text-3xl text-fontcolor-100;
}

strong {
  @apply font-bold lg:text-[2.5rem] md:text-4xl text-2xl text-fontcolor-100;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #192536;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.backgroundHome {
  @apply bg-no-repeat bg-fixed lg:bg-center bg-cover;
}

.stickyHeader {
  @apply py-2;
  background-color: rgba(25, 37, 54, 0.2);
}

header {
  transition: all 0.3s ease-in-out;
}

header#desktop {
  @apply hidden lg:flex;
}

header#mobile {
  @apply flex lg:hidden;
  z-index: 1;
}

header.showMenu {
  @apply flex;
}

.formButton {
  @apply bg-background-100 text-fontcolor-100 p-2 border border-fontcolor-100 font-medium text-5xl relative;
  box-shadow: 16px 21px 0px 0px #2ca7eb;
}

.paulistinho {
  @apply absolute md:bottom-20 bottom-24 md:left-8 left-4 lg:w-52 w-36 md:w-44;
}

.checkmark {
  @apply p-2 cursor-pointer border border-fontcolor-100;
  transition: all 0.2s ease-in-out;
}

.checked {
  box-shadow: 8px 8px 0px 0px #2ca7eb;
}

footer {
  z-index: 0;
}

.containerPadding {
  @apply lg:px-20 md:px-10 px-4;
}

/*  Categorias */

.categoryContainer {
  @apply w-full flex flex-col lg:flex-row lg:py-36 md:py-28 py-10 lg:justify-between gap-12 containerPadding;
}

.categoryContainerText {
  @apply flex flex-col lg:gap-10 gap-8 w-full md:max-w-xl;
}

.categoryContainerText h2 {
  @apply lg:text-7xl md:text-6xl text-2xl font-bold;
}

.categoryContainerText p {
  @apply lg:text-3xl md:text-2xl text-base font-medium;
}

.categoryImage {
  @apply lg:h-[800px] md:h-[400px] h-[14rem] lg:w-[40%] w-full flex items-center justify-center cursor-pointer;
  transition: all 0.4s ease-in-out;
  background-size: 100% auto;
}

.categoryImage span {
  @apply text-fontcolor-50 font-medium md:text-4xl text-base px-2 py-4 border border-fontcolor-50;
}

.categoryImage:hover {
  background-size: 180% auto !important;
  transition: all 0.4s ease-in-out;
}

.desktopLink {
  @apply hidden lg:flex max-w-fit items-center gap-2 font-medium text-4xl hover:border-2 hover:border-background-100 hover:px-6;
  transition: all 0.2s ease-in-out;
}

.mobileLink {
  @apply flex lg:hidden max-w-fit self-end items-center gap-2 font-medium text-4xl hover:border-2 hover:border-background-100 hover:px-6;
  transition: all 0.2s ease-in-out;
}

/*  Sombras */

.shadowRight {
  box-shadow: 20px 20px 0px 0px #192536;
}

.shadowRight:hover {
  box-shadow: 20px 20px 0px 0px #fffefb;
}

.WhiteShadowRight {
  box-shadow: 20px 20px 0px 0px #fffefb;
}

.WhiteShadowLeft {
  box-shadow: -20px 20px 0px 0px #fffefb;

  @media (max-width: 1024px) {
    box-shadow: 20px 20px 0px 0px #fffefb;
  }
}

/*  - - - - - - - - - - - - - - -  */
